# ROS2 specific
ros2_ws/install/
ros2_ws/build/
ros2_ws/log/
.colcon/
.colcon_cache/

# Ignore vendor package contents but track empty folder
ros2_ws/src/vendors/*
!ros2_ws/src/vendors/.gitkeep

# Gazebo
*.log

# Python
*.pyc
*.pyo
__pycache__/

# macOS
.DS_Store

# IDEs and editors
.vscode/
.idea/

# General
*.swp
*.bak
*.old
*.tmp
*.temp

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Allow repos files
!*.repos